<% layout('/layouts/boilerplate.ejs')%>
<body>
  <h3>All listings</h3>
  <!-- <form action="/listings/new" method="GET">
        <button>Create a new Lisitng </button>
    </form> -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
    <% for(let listing of allListing){ %>
    <div class="card col">
      <a href="/listings/<%= listing._id %>" class="listing-link">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b> <%= listing.title %> </b><br />
          &#8377; <%= listing.price.toLocaleString("en-IN") %> <br />
        </p>
      </div>
      </a>
    </div>
    <% } %>
  </div>

  <style>
    @media (max-width: 576px) {
      .card img {
        height: 15rem !important;
      }
    }
    
    @media (min-width: 577px) and (max-width: 768px) {
      .card img {
        height: 18rem !important;
      }
    }
  </style>
</body>